@using MvcStok.Models.Entity
@model List<Musteriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Musteri ID</th>
        <th>Musteri Adi</th>
        <th>Musteri Soyadi</th>
        <th>Sil</th>
        <th>Guncelle</th>
    </tr>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.MusteriID</th>
                <td>@item.MusteriAd</td>
                <td>@item.MusteriSoyad</td>
                <td><a href="/Urun/Sil/@item.MusteriID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Urun/Guncelle/@item.MusteriID" class="btn btn-warning">Guncelle</a></td>

            </tr>
        }
    </tbody>

</table>

<a href="/Musteri/YeniMusteri/" class="btn btn-success">Yeni Urun Ekle</a>