
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<form class="form-group" method="post">
    <div>
        <label>Musteri Ad:</label>
        <input type="text" class="form-control" name="MusteriAd" />
    </div>
    <div>
        <label>Musteri Soyad:</label>
        <input type="text" class="form-control" name="MusteriSoyad" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-success">Musteri Ekle</button>
    </div>

</form>
<a hre></a>

