
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Hakkimda</button>
<div class="modal fade" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Hakkimda</h2>
            </div>
            <form>
                <div class="modal-body">
                    <label>Merhaba, ben <a href="https://muhammetalisongur.com.tr">Muhammet Ali Songur</a></label>
                    <br />
                    <label>Kodlamayi seviyorum</label>
                    <br />
                    <label>19.02.2023</label>

                </div>
            </form>
        </div>
    </div>
</div>